<div class="action-menu-container">
    <button cdkOverlayOrigin #trigger="cdkOverlayOrigin" class="action-btn" (click)="toggleMenu($event)" [class.active]="isOpen">
        <i class="las la-ellipsis-h"></i>
    </button>
    <ng-template
      cdkConnectedOverlay
      [cdkConnectedOverlayOrigin]="trigger"
      [cdkConnectedOverlayOpen]="isOpen"
      (backdropClick)="isOpen = false"
      [cdkConnectedOverlayHasBackdrop]="true"
      cdkConnectedOverlayBackdropClass="cdk-overlay-transparent-backdrop"
      [cdkConnectedOverlayPositions]="[
        {originX: 'end', originY: 'bottom', overlayX: 'end', overlayY: 'top', offsetY: 4}
      ]">
        <div class="action-dropdown" (click)="$event.stopPropagation()">
            <button *ngFor="let item of actions" 
                    class="menu-item" 
                    [ngClass]="item.customClass || ''"
                    (click)="onActionClick(item.action, $event)">
                
                <!-- Standard LineAwesome font icon -->
                <i *ngIf="item.iconClass" class="las" [ngClass]="item.iconClass"></i>
                
                <!-- Custom SVG icon via mask-image -->
                <div *ngIf="item.svgIconPath" 
                     class="svg-icon" 
                     [style.-webkit-mask-image]="'url(' + item.svgIconPath + ')'"
                     [style.mask-image]="'url(' + item.svgIconPath + ')'">
                </div>
                
                {{ item.label }}
            </button>
        </div>
    </ng-template>
</div>
